
config~=0.5.1
attrs==22.1.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
config==0.5.1
cryptography==38.0.3
idna==3.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.1.0
requests==2.28.1
service-identity==21.1.0
six==1.16.0
telebot==0.0.4
TelegramBotAPI==0.3.2
urllib3==1.26.12

